.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #30bac7 10%, #0c8b08 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
  font-weight: 200;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #2237f8;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #2237f8;
  color: white;
}
.category-input{
margin: .5rem;
padding: .9rem;
  font-size: 1rem;
}
.category-input::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: .1rem;
  background: #2237f8;
  cursor: pointer;
  pointer-events: none;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 1rem;
  background: rgb(216, 214, 214);
  font-size: 1rem;
  color: #06138a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.filter-todo, .filter-category {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #f31a06;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(4, 134, 37);
}
.todo-item {
  padding: 0rem 0.5rem;
}
.list-header{
  color:rgb(15, 15, 15);
}
.entry-header{
  color:rgb(15, 15, 15);
}
.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select, .select2 {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select, select2{
  color: #2237f8;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: .1rem;
  background: #2237f8;
  cursor: pointer;
  pointer-events: none;
}
.select2::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: .1rem;
  background: #2237f8;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/